.form {
  background-color: #ffffff;
  border: 1px solid #929292;
  padding: 23px 20px;
}

.form__fieldsContainer {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 48px;
}
