.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) 1px, transparent 1px, transparent 100%);
  background-size: 16px 16px;
}

.registration__form {
  width: 400px;
}

.registration__agreementLink {
  color: #06bf06;
}
